/==========================================================================
* Freaking custom v1.01
*  Consists of following
*   normalize css
==========================================================================/

/********** Normalize css **********/

/*****
* Remove margin in all browsers
*****/
body {
  margin: 0;
}

/*****
* Correct display property for IE < 9
*****/
article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

/*****
* Prevent duplicate application of bolder
*****/
b,
strong {
  font-weight: inherit;
}

/*****
* Add correct font weight
*****/
b,
strong {
  font-weight: bolder;
}

/*****
 * Prevent `sub` and `sup` elements from affecting the line height
*****/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*****
* Add correct font size
*****/
small {
  font-size: 80%;
}

big {
  font-size: 120%;
}
